/* Style the Header */
h1 {
    background-color: black;
    font-size: 30px;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

/* Style the entire container */ 
.container {
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

/* Style the search field */
form.example input[type=text] {
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 10%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    float: left;
    width: 5%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.example::after {
    content: "";
    clear: both;
    display: table;
}

/* Style top half cities */
.box {
    height: 5px;
    width: 5px;  
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    color: black;
    border-width: 1px;
    border-color: black;
}

.Atlanta {
font-family: Arial, Helvetica, sans-serif;
}



/* Style the boxes for the cities below */
.cities {
    height: 140px;
    width: 100px;  
    float: left;
    background-color:#2196F3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    color: white;
}